<h2>New Document</h2>
<form action="/documents" method="POST" enctype"multipart/form-data">       <!-- The enctype attribute tells the server the media type (formerly: MIME type) of the content that is going to be uploaded to the server. Media type is a two-part identifier for file formats and format contents transmitted on the Internet. A media type consists of a type and a subtype, which is further structured into a tree. A media type can optionally define a suffix and parameters: 
    >> type "/" [tree "."] subtype ["+" suffix] *[";" parameter]  <<
As an example, an HTML file might be designated text/html; charset=UTF-8. In this example, text is the type, html is the subtype, and charset=UTF-8 is an optional parameter indicating the character encoding.
    In this case, we are going to be using multipart/form data: the type that allows file <input> element(s) to upload file data.-->
    <%- include('_form_fields') %> <!-- This is the ejs import syntax, which tells the server to do something on the back end versus rendering it as html, etc.-->
    <input type="submit" value="Create New Document" />  <input type="button" onclick="location.href='/';" value="Cancel"/>
</form>