<nav>
    <input type="button" onclick="location.href='/';" value="View All Employees" />
    <input type="button" onclick="location.href='/employees/new';" value="Create New Employee" />
</nav>
<div>
    2021 JSW
</div>