<header>
    <nav>
        <h1>Production Attendance App - Alliance Truss Ltd.</h1>
       <a href="/employees">All Employees</a>  <a href="/employees/new">Add Employee</a>  <a href="/documents">All Documents</a>  <a href="/documents/new">Add Document</a>
    </nav>
</header>