<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
</head>
<body>
    Top
    <br>
    <br>
    <%- body %> <!-- The 'body' will include all our other 'pages' in this position.-->
    <br>
    <br>
    Bottom
    <br>
</body>
</html>

